* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="radio"] {
  padding: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

legend{
	display: inline-block;
	margin-bottom: 10px;
}


header, footer{
	width: 100%;
	background-color: indigo;
	height: 63px;
	color: white;
	font-size: 33px;
	padding: 8px;
	text-indent: 10px;

}

footer{
	position: absolute;
    bottom: 0;
    margin-left: -8px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}

.quiz-item {
  display: block;
  color: grey;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  border: 1px solid grey;
}

/*label[for=ans-right]{
  color: green;
}

label[for=ans-wrong]{
  color: red;
}*/

 /*.radio-right:checked + .label-right{
  color: green;
}
.radio-wrong:checked + .label-wrong{
  color:red;
}*/
