* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="radio"] {
  padding: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

legend{
	display: inline-block;
	margin-bottom: 10px;
}


header, footer{
	width: 100%;
	background-color: black;
	height: 50px;
	color: white;
	font-size: 30px;
	padding: 8px;
	text-indent: 10px;

}

footer{
	position: absolute;
    bottom: 0;
    margin-left: -8px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  
}

.quiz-item {
  display: block;
  color: grey;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  border: 1px solid grey;
}

