* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="radio"] {
  padding: 15px;
}

button:hover {
  cursor: pointer;
}

legend{
	display: inline-block;
	margin-bottom: 10px;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  
}

.quiz-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  border: 1px solid grey;
}

.shopping-item__checked {
  text-decoration: line-through;
}
